<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Bien le bonjour <%= "#{@user.first_name} #{@user.last_name}" %>, bienvenue sur Easy Riding, le portail de location de moto entre particuliers.</h1>
  <p> Découvrez le modèle de vos rêves lors de vacances et testez les nouveautés à votre guise, sans investir.</p>
  <p> Consultez la carte de France et accédez à la recherche en cliquant directement sur la région de votre choix.</p>
  <br>
  <p> A très vite sur <a href='http://www.easy-riding.com/'>Easy Riding</a>.</p>
  <p> Vous vous êtes inscrit sur alfoldievaluation.com en utilisant l'e-mail suivant : <%= @user.email %>. </p>
  </body>
</html>
