$myColor: #b26b6b;
$hoverColor: #874e4e;
$myBlack: #383838;

$phone: 512px;
$tablet-phone: 768px;
$sm-desktop: 769px;
$lg-desktop: 1440px;

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin tablet-phone {
  @media (max-width: $tablet-phone) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: $sm-desktop) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: $lg-desktop) {
    @content;
  }
}

.logo {
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 0,09vh;
}

#nav-main {
  background-color: transparent !important;
  color: $myBlack;
  font-family: 'Roboto', sans-serif;
    #title-main {
      font-size: 2rem;
      a {
        color:$myBlack;
        &:hover {
          text-decoration: none;
          color:#595959;
          transition:0.3s;
        }
      }
    }
  #item-link {
    color:$myBlack;
    &:hover {
      text-decoration:none;
    }
  }
  #right-align {
    margin-left: auto;
  }
}
