@import "../../../index.scss";

#nav-main {
  background-color: transparent !important;
  color: $myBlack;
  font-family: "Zilla Slab", serif;
  #title-main {
    font-weight: bold;
    font-size: 2rem;
    a {
      color:$myBlack;
      &:hover {
        text-decoration: none;
        color:#595959;
        transition:0.3s;
      }
    }
  }
  #item-link {
    color:$myBlack;
    &:hover {
      text-decoration:none;
    }
  }
  #right-align {
    margin-left: auto;
  }
}
