@import "../../index.scss";

.nav {
  margin-top:3vh;
  margin-left:2%;
  margin-right:2%;
  @include tablet-phone {
    #controlled-tab-example-tab-ProfileInfo {
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }
  #controlled-tab-example-tab-mon-garage, #controlled-tab-example-tab-mes-annonces, #controlled-tab-example-tab-reservations-recues, #controlled-tab-example-tab-reservations-envoyees {
    font-size:1rem;
    border-radius:15px 15px 0 0;
    font-family:'Roboto', sans-serif;
    width:25%;
    color:white;
    background-color:$borderGrey;
    &:hover {
      background-color:$myBlack;
    }
    &:focus {
      outline:none;
    }
  }
}

#tab-body {
  min-height:80vh;
  margin-top:2vh;
  margin-left:2%;
}
