$myColor: #0E6FFF;;
$hoverColor: #00265e;
$myBlack: #23242A;
$borderGrey:rgb(131, 126, 126);

$phone: 512px;
$tablet-phone: 768px;
$sm-desktop: 769px;
$lg-desktop: 1440px;

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin tablet-phone {
  @media (max-width: $tablet-phone) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: $sm-desktop) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: $lg-desktop) {
    @content;
  }
}

a {
    font-weight: 100 !important;
}
