@import "../../../index.scss";

#main-footer {
  font-family: "Zilla Slab", serif;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: $myBlack;
  .container {
    display: flex;
    @include sm-desktop {
      flex-direction: row;
      #col-1 {
        margin-right: auto;
        a {
          color:white;
          &:hover {
            color:white;
            text-decoration: underline;
          }
        }
      }
      #col-2 {
      display: flex;
      flex-direction: column;
      margin: auto;
      a {
        color:white;
        &:hover {
          color:white;
          text-decoration: underline;
        }
      }
      }
      #col-3 {
        margin-left: auto;
        a {
          color:white;
          &:hover {
            color:white;
            text-decoration: underline;
          }
        }
      }
      .footer-title, .contributors {
        margin-right: auto;
        font-weight: bold;
        font-size: 2rem;
      }
    }
    @include tablet-phone {
      flex-direction: column;
      #col-1, #col-2, #col-3 {
        margin:auto;
        text-align: center;
        a {
          color:white;
          &:hover {
            color:white;
            text-decoration: underline;
          }
        }
      }
      .footer-title, .contributors {
        margin-right: auto;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}
