@import "../../../index.scss";

#card-profile {
  max-width:300px;
  max-height:400px;
  font-family: 'Roboto', sans-serif;
  border:none;
  border-radius: 25px;
  background: rgb(122,122,122);
  background: linear-gradient(45deg, rgb(170, 170, 170) 0%, rgba(196,196,204,1) 50%, rgba(235,235,235,1) 100%);
  box-shadow: 2px 2px 15px rgb(201, 201, 201);
  overflow:hidden;
  text-overflow:ellipsis;
  @include tablet-phone {
    margin:0 auto;
  }
  #img-circle {
    width:50%;
    margin:auto;
    margin-top:1em;
    border-radius:100%;
    border:1px solid $borderGrey;
  }
  #card-body {
    margin:auto;
    text-align: center;
    #description {
      font-weight:300;
    }
  }
  #card-button {
    margin: auto;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
  }
}
