@import "../../../index.scss";

#card-profile {
  background-color:rgb(202, 196, 196);
  max-width:300px;
  max-height:400px;
  font-family: 'Roboto', sans-serif;
  border:1px solid $borderGrey;
  @include tablet-phone {
    margin:0 auto;
  }
  #img-circle {
    width:50%;
    margin:auto;
    margin-top:1em;
    border-radius:50%;
    border:1px solid $borderGrey;
  }
  #card-body {
    margin:auto;
    text-align: center;
    #description {
      font-weight:300;
    }
  }
  #card-button {
    margin:auto;
    margin-bottom:1em;
  }
}
